<h1>Usuarios Registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.first_name}}</td>
      <td>{{user.second_name}}</td>
      <td>{{user.first_surname}}</td>
      <td>{{user.second_surname}}</td>
      <td>{{user.fhone}}</td>
      <td>{{user.address}}</td>
    </tr>

  </tbody>
</table>
